<section>
    <div class="container mx-auto py-14">
        <h1 class="text-5xl text-center mb-14 uppercase">Quem Somos</h1>
        <p class="text-center text-2xl">Uma frase aqui sobre a FRM</p>
    </div>
</section>
<section class="bg-yellow-400 pb-14">
    <div class="container mx-auto">
        <div class="flex w-full">
            <div class="w-1/2 p-14">
                <article class="prose p-8 bg-white rounded-lg border">
                    <p class="mb-8">
                        A Francisco Marques Rodrigues, SA (FMR) é uma empresa especializada na recuperação de resíduos com o objectivo de encaminhá-los para a reciclagem.
                    </p>
                    <p class="mb-8">
                        Os Resíduos são entregues nas nossas instalações ou recolhidos pelas nossas viaturas. Efectuamos a triagem de acordo com as características dos diferentes materiais e reencaminhamos os mesmos para a reciclagem.
                    </p>
                    <p>
                        O nosso alvará permite-nos trabalhar com uma grande variedade de resíduos. Consulte aqui o nosso alvará e a listagem de resíduos com que trabalhamos: <a href="" class="text-yellow-400">Alvará FMR</a>
                    </p>
                    <hr class="my-14 mx-auto w-48 h-1 bg-gray-100 rounded border-0">
                    <div class="mb-14">
                        <h4 class="text-2xl mb-4">
                            Os nossos valores
                        </h4>
                        <p>
                            Orientação para o Cliente - Confiança, Satisfação e Compromisso.
                        </p>
                        <p>
                            Orientação para o Fornecedor - Focalização nas necessidades, flexibilidade.
                        </p>
                        <p>
                            Transparência
                        </p>
                    </div>

                    <div class="mb-14">
                        <h4 class="text-2xl mb-4">
                            A nossa visão
                        </h4>
                        <p>
                            Ser a empresa de referência a nível nacional na recuperação de papel para reciclagem.
                        </p>
                    </div>

                    <div class="mb-14">
                        <h4 class="text-2xl mb-4">
                            A nossa missão
                        </h4>
                        <p>
                            Atingir as necessidades e expectativas dos nossos parceiros, colaboradores e acionistas.
                        </p>
                    </div>
                </article>
            </div>
            <article class="w-1/2">
                {% include timeline.html %}
            </article>
        </div>
        
    </div>
</section>