<style>
    #archive-pickup {
        background-image: url("/assets/images/welcome/archive1.jpg");
        clip-path: polygon(0% 0%, 95% 0%, 100% 50%, 95% 100%, 0% 100%);
    }
    #archive-destruction {
        background-image: url("/assets/images/welcome/shredder.jpg");
        clip-path: polygon(5% 0%, 100% 0%, 100% 100%, 5% 100%, 0% 50%);
    }
</style>

<section class="my-14">
    <h1 class="text-5xl text-center mb-14 uppercase">O Seu Arquivo</h1>
    <p class="text-center text-2xl">Uma frase aqui sobre o processo de destruição de arquivos de cliente.</p>
</section>

<div class="flex">
    <div id="archive-pickup" class="w-1/2 h-[600px] bg-cover">
    </div>
    <div class="w-1/2 flex items-center pl-14">
        <div>
            <h3 class="text-3xl mb-8 text-yellow-400">
                RECOLHA E TRANSPORTE DO SEU ARQUIVO
            </h3>
            <p class="mb-2">
                Disponibilizamos Contentores, Grades, Big Bags para armazenar os seus resíduos.
            </p>
            <p>
                Efectuamos o transporte do seu arquivo até às nossas instalações.
            </p>
        </div>
    </div>
</div>

<div class="flex -mt-[100px]">
    <div class="w-1/2 flex items-end justify-end pr-14 pb-14">
        <div class="max-w-[700px]">
            <h3 class="text-3xl mb-8 text-yellow-400">
                RECOLHA E TRANSPORTE DO SEU ARQUIVO
            </h3>
            <p class="mb-4">
                A Francisco Marques Rodrigues SA garante que a destruição dos seus desperdícios, documentação e material obsoleto decorra de forma eficiente e confidencial. Mediante marcação, esta destruição pode ser assistida por si, e/ou pela Autoridade Tributária e Aduaneira.
            </p>
            <p class="mb-4">
                Todo o material passível de reciclagem é processado e encaminhado para a indústria recicladora. Este processo aumenta o ciclo de vida dos materiais reciclados, contribuindo assim para uma redução dos impactos ambientais.
            </p>
            <p>
                Sempre que solicitado, emitimos um auto de destruição que assegura a confidencialidade e a destruição da documentação para efeitos fiscais.
            </p>            
        </div>
    </div>
    <div id="archive-destruction" class="w-1/2 min-h-[600px] bg-cover">
    </div>
</div>
