<style>
    #resi-pickup {
        background-image: url("/assets/images/welcome/RECOLHA RESIDUOS.jpg");
        clip-path: polygon(0% 0%, 95% 0%, 100% 50%, 95% 100%, 0% 100%);
    }

    #triage {
        background-image: url("/assets/images/welcome/PROCESSO TRIAGEM.jpg");
        clip-path: polygon(5% 0%, 100% 0%, 100% 100%, 5% 100%, 0% 50%);
    }

    #process {
        background-image: url("/assets/images/welcome/PROCESSO ENFARDAMENTO.jpg");
        clip-path: polygon(0% 0%, 95% 0%, 100% 50%, 95% 100%, 0% 100%);
    }

    #transport {
        background-image: url("/assets/images/welcome/EXPEDIÇÃO.jpg");
        clip-path: polygon(5% 0%, 100% 0%, 100% 100%, 5% 100%, 0% 50%);
    }
</style>

<section>
    <div class="container mx-auto py-14">
        <h1 class="text-5xl text-center mb-14 uppercase">O Nosso Processo</h1>
        <p class="text-center text-2xl">Descubra como trabalhamos</p>

        <hr class="my-4 mx-auto w-48 h-1 bg-gray-100 rounded border-0 md:my-10">

        <div class="flex flex-wrap justify-center">
            <div class="w-full sm:w-1/2 md:w-1/4 mb-4 px-2">
              <div class="flex flex-col rounded-lg overflow-hidden bg-white drop-shadow-2xl">
                <img class="h-96 w-full object-cover" src="/assets/images/welcome/RECOLHA RESIDUOS.jpg" alt="Recolha Resíduos" />
                <div class="flex-1 px-6 py-4">
                  <div class="font-bold text-center text-2xl mb-2 uppercase text-yellow-400">Recolha Resíduos</div>
                  <p class="text-gray-700 text-base">A FMR encontra-se dotada de equipamentos e de skills que lhe permite responder a uma grande variedade de serviços. Por norma o processo de recolha de resíduos segue o seguinte fluxo:
                    <ol class="mt-4">
                        <li>
                            1 - Contacto e visita às instalações do cliente, com o objectivo de averiguar condições de carga, armazenamento e tipologia do resíduo;
                        </li>
                        <li>
                            2 - Apresentação de proposta formal, para aquisição do resíduo;
                        </li>
                        <li>
                            3 - Implementação e acompanhamento técnico;
                        </li>
                        <li>
                            4 - Transporte, pesagem e tratamento dos resíduos nas instalações da FMR em Camarate ou São Paio de Oleiros.</p>
                        </li>
                    </ol>
                </div>
              </div>
            </div>

            <div class="w-full sm:w-1/2 md:w-1/4 mb-4 px-2">
                <div class="h-full flex flex-col rounded-lg overflow-hidden bg-white drop-shadow-2xl">
                    <img class="h-96 w-full object-cover" src="/assets/images/welcome/PROCESSO TRIAGEM.jpg" alt="Processo de Triagem" />
                    <div class="flex-1 px-6 py-4">
                    <div class="font-bold text-center text-2xl mb-2 uppercase text-yellow-400">Processo Triagem</div>
                    <p class="text-gray-700 text-base">A triagem dos diferentes resíduos é executada através de processos manuais e automáticos que recorrem a tecnologia avançada. O nosso centro é constituído por tapetes de alimentação, pisos móveis, destroçadores de fardos, separadores balísticos, por um dispositivo óptico e por uma secção manual o que possibilita uma correcta separação entre os diferentes tipos de materiais, assegurando também que os nossos fardos tenham uma baixa ou nula quantidade de contaminantes.</p>
                    </div>
                </div>
            </div>

            <div class="w-full sm:w-1/2 mb-4 md:w-1/4 px-2">
                <div class="h-full flex flex-col rounded-lg overflow-hidden bg-white drop-shadow-2xl">
                  <img class="h-96 w-full object-cover" src="/assets/images/welcome/PROCESSO ENFARDAMENTO.jpg" alt="Processo De Enfardamento" />
                  <div class="flex-1 px-6 py-4">
                    <div class="font-bold text-center text-2xl mb-2 uppercase text-yellow-400">Processo de Enfardamento</div>
                    <p class="text-gray-700 text-base">
                        O processo de enfardamento destina-se a gerar fardos do material previamente triado.Durante este processo, os nossos colaboradores asseguram a qualidade da mercadoria efectuando uma última triagem junto do tapete de enfardamento.
                    </p>
                  </div>
                </div>
            </div>

            <div class="w-full sm:w-1/2 md:w-1/4 mb-4 px-2">
                <div class="h-full flex flex-col rounded-lg overflow-hidden bg-white drop-shadow-2xl">
                    <img class="h-96 w-full object-cover" src="/assets/images/welcome/EXPEDIÇÃO.jpg" alt="Expedição e Transporte" />
                    <div class="flex-1 px-6 py-4">
                    <div class="font-bold text-center text-2xl mb-2 uppercase text-yellow-400">Expedição e Transporte</div>
                    <p class="text-gray-700 text-base">Na última etapa do ciclo, a mercadoria é armazenada em local apropriado de forma a facilitar a expedição. O transporte até ao destino final poderá ser assegurado quer pelas nossas viaturas, quer por viaturas enviadas pelos nossos clientes. Em alguns casos, o transporte é efectuado em contentores ou comboio.</p>
                    </div>
                </div>
            </div>


          </div>
</section>