    <ol class="relative border-l border-gray-900 pt-14">                  
        <li class="mb-10 ml-4">
            <div class="absolute w-3 h-3 bg-gray-900 rounded-full mt-3 -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
            <h3 class="text-2xl mb-4 font-semibold text-gray-900">
                <time class="font-normal leading-none">1961</time>
            </h3>
            <article class="p-8 bg-white rounded-lg border">
                <p class="text-base font-normal text-gray-700">Criação da empresa Francisco Marques Rodrigues pelo acionista único Francisco Marques Rodrigues. As instalações iniciais eram localizadas em Sacavém.</p>
            </article>
        </li>

        <li class="mb-10 ml-4">
            <div class="absolute w-3 h-3 bg-gray-900 rounded-full mt-3 -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
            <h3 class="text-2xl mb-4 font-semibold text-gray-900">
                <time class="font-normal leading-none">1973</time>
            </h3>
            <article class="p-8 bg-white rounded-lg border">
                <p class="text-base font-normal text-gray-700">Alteração do pacto social para Francisco Marques Rodrigues, LDA.</p>
            </article>
        </li>

        <li class="mb-10 ml-4">
            <div class="absolute w-3 h-3 bg-gray-900 rounded-full mt-3 -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
            <h3 class="text-2xl mb-4 font-semibold text-gray-900">
                <time class="font-normal leading-none">1996</time>
            </h3>
            <article class="p-8 bg-white rounded-lg border">
                <p class="text-base font-normal text-gray-700">Mudança de instalações para Camarate. A FMR beneficiou de uma localização mais central, bem como de uma maior área para armazenamento de stocks.</p>
            </article>
        </li>

        <li class="mb-10 ml-4">
            <div class="absolute w-3 h-3 bg-gray-900 rounded-full mt-3 -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
            <h3 class="text-2xl mb-4 font-semibold text-gray-900">
                <time class="font-normal leading-none">2002</time>
            </h3>
            <article class="p-8 bg-white rounded-lg border">
                <p class="text-base font-normal text-gray-700">Abertura de novas instalações em São Paio de Oleiros - Santa Maria da Feira.</p>
            </article>
        </li>

        <li class="mb-10 ml-4">
            <div class="absolute w-3 h-3 bg-gray-900 rounded-full mt-3 -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
            <h3 class="text-2xl mb-4 font-semibold text-gray-900">
                <time class="font-normal leading-none">2007</time>
            </h3>
            <article class="p-8 bg-white rounded-lg border">
                <p class="text-base font-normal text-gray-700">Instalação de um Centro de Triagem na unidade de produção de camarate. Através de uma mistura de processos automáticos e manuais, é possível processar quantidades de papel e cartão superiores a 20.000 ton/ano.</p>
            </article>
        </li>

        <li class="mb-10 ml-4">
            <div class="absolute w-3 h-3 bg-gray-900 rounded-full mt-3 -left-1.5 border border-white"></div>
            <h3 class="text-2xl font-semibold text-gray-900">
                Faça também parte da nossa história
            </h3>
        </li>
    </ol>